# Need more work on the data set (saw in later stage and came back to fix)

In [2]:
import pandas as pd

In [3]:
# laod the df
file_path = '../data/clean_train_tweets.csv'
df = pd.read_csv(file_path)
df

,Unnamed: 0,text,clean_text
0,0,@thediscovietnam coo. thanks. just dropped yo...,@thediscovietnam coo. thanks. just dropped yo...
1,1,@thediscovietnam shit it ain't lettin me DM yo...,@thediscovietnam shit it ain't lettin me DM yo...
2,2,"@thediscovietnam hey cody, quick question...ca...","@thediscovietnam hey cody, quick question...ca..."
3,3,@smokinvinyl dang. you need anything? I got ...,@smokinvinyl dang. you need anything? I got ...
4,4,"maybe i'm late in the game on this one, but th...","maybe i'm late in the game on this one, but th..."
...,...,...,...
3609670,3811258,what bees make milk?? ...,what bees make milk?? ...
3609671,3811259,boredd as tits.,boredd as tits.
3609672,3811260,"oh god heroes tonight, ... http://lnk.ms/0ShgX","oh god heroes tonight, ... http://lnk.ms/0ShgX"
3609673,3811261,tits i'm bored,tits i'm bored
3609674,3811262,I&#39;m so fucking excited for 8 o&#39;clock t...,I'm so fucking excited for 8 o'clock to be her...

In [4]:
# clean_text - have to remove: @ only, singel url
condition = df['clean_text'].str.strip().str.startswith('@') & ~df['clean_text'].str.strip().str.contains(' ')
at_only_df = df[condition]
len(at_only_df)

1587

In [5]:
at_only_df.sample(5)

         Unnamed: 0            text      clean_text
2111545     2247216  @PrayForAidan   @PrayForAidan
780159       823375          @reply          @reply
1243248     1316989  @ryanbiddulph   @ryanbiddulph
1361113     1442558      @dionprimo      @dionprimo
77543         81144       @BrendanQ       @BrendanQ

In [6]:
# Remove only @att, no need for calssfier here (it will be handled in the pre-process and no need to call model)
df = df[~condition]

In [7]:
df.to_csv('../data/clean_train_tweets.csv', index=True)